html {
  font-size: 20px;
  scroll-behavior: smooth;

  --rigid: rigid-square, sans-serif;
  --yrsa: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  --blue: #090940;
  --orange: #feb51e;
  --white: #ffffff;
}

body {
  overflow: scroll;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
}

nav {
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.header-logo {
  display: inline-block;
  width: 100%;
}

.h1 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  height: 168px;
}

h1 {
  font-size: 3.157rem;
  font-family: var(--rigid);
  color: var(--blue);
  margin-top: 2%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  margin-top: -3%;
  justify-content: center;
}

.red,
.h3-red {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

.red,
.yellow {
  margin-top: 10%;
}

h3 {
  font-size: 1rem;
  font-family: var(--rigid);
  line-height: 1.5rem;
  color: var(--white)
}

.h2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
}

h2 {
  font-size: 0.9rem;
  font-family: var(--rigid);
  line-height: 1.5rem;
  color: var(--blue);
}

.yellow,
.h3-yellow {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
}

.light-blue,
.h3-light-blue {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.light-blue,
.blue,
.h3-light-blue,
.h3-blue {
  margin-top: -15%;
}

.p {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  margin-bottom: 23%;
  opacity: 50%;
  display: grid;
  align-items: flex-end;
}

p {
  font-size: 1rem;
  font-family: var(--rigid);
  text-transform: uppercase;
}

.blue,
.h3-blue {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
}

.button {
  z-index: 1;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  margin-top: 85%;
}

button {
  width: 72px;
  height: 66px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(90deg);
  border: none;
  background: var(--orange);
}

.img {
  display: flex;
  justify-content: center;
  transform: rotate(180deg);
}

.h1,
.h2,
.p,
.button,
.text1 {
  text-align: center;
}

.h3-red,
.h3-yellow,
.h3-light-blue,
.h3-blue,
.text2,
.text3,
.text4,
.text5 {
  z-index: 1;
  display: grid;
  align-items: center;
  text-align: center;
}

.red,
.yellow,
.light-blue,
.blue,
.gray1,
.gray2,
.gray3,
.gray4 {
  width: 300px;
  height: 275px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: rotate(90deg);
}

.grid-container > .h1 :hover {
  
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 10%;
}

.text1 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  font-weight: bold;
  opacity: 100%;
  margin-bottom: 10%;
}

.gray1,
.text2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

h4 {
  text-align: center;
  font-size: 1rem;
  font-family: var(--rigid);
  line-height: 1.5rem;
  color: var(--blue);
}

.gray2,
.text3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
}

.gray3,
.text4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 2;
}

.gray4,
.text5 {
  grid-column-start: 10;
  grid-column-end: 12;
  grid-row-start: 2;
}

@media only screen and (max-width: 435px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-top: -3%;
    justify-content: center;
  }

  .h1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
  }

  h1 {
    font-size: 2rem;
    font-family: var(--rigid);
    color: var(--blue);
    margin-top: 12%;
  }

  .h2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
  }

  .red,
  .h3-red {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    margin: 40px;
  }

  .yellow,
  .h3-yellow {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    margin: 40px;
  }

  .light-blue,
  .h3-light-blue {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    margin: 40px;
  }

  .blue,
  .h3-blue {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    margin: 40px;
  }

  .button {
    z-index: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    margin-top: 65%;
  }

  .p {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    margin-bottom: 15%;
    display: grid;
    align-items: flex-end;
  }
}

#hide {
  visibility: hidden;
  margin-top: -120%;
}

.show {
  visibility: visible !important;
  margin-top: 0% !important;
}